<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
    <title>Site Web sur la Nature</title>
</head>
<body>
    <header>
        <h1>Exploration de la Nature</h1>
        <nav>
            <ul>
                <li><a href="{{ '/' | relative_url }}">Accueil</a></li>
                <li><a href="{{ '/about/' | relative_url }}">À Propos</a></li>
                <li><a href="{{ '/concepts/' | relative_url }}">Concepts</a></li>
                <li><a href="{{ '/contact/' | relative_url }}">Contact</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="intro">
            <h2>Bienvenue sur notre site</h2>
            <p>Découvrez des explications détaillées sur différents concepts de la nature.</p>
        </section>
        <section class="concepts">
            <article>
                <h3>La photosynthèse</h3>
                <p>La photosynthèse est le processus par lequel les plantes convertissent la lumière en énergie pour leur croissance. Découvrez comment cela fonctionne.</p>
            </article>
            <article>
                <h3>Les cycles de l'eau</h3>
                <p>Les cycles de l'eau sont essentiels à la vie sur Terre. Explorez les étapes du cycle de l'eau et son importance.</p>
            </article>
            <article>
                <h3>La migration des oiseaux</h3>
                <p>Chaque année, des millions d'oiseaux migrent sur de longues distances. Apprenez pourquoi et comment ils le font.</p>
            </article>
            <article>
                <h3>La formation des montagnes</h3>
                <p>Les montagnes sont le résultat de processus géologiques fascinants. Découvrez comment les montagnes se forment au fil du temps.</p>
            </article>
        </section>
        <section class="editable-content">
            <h3>Section modifiable</h3>
            <p>Le contenu de cette section peut être modifié en remplaçant le fichier <a href="{{ '/assets/editable.txt' | relative_url }}">Télécharger la ressource éditable</a>
        </section>
    </main>
    <footer>
        <p>&copy; 2023 Site Web sur la Nature</p>
    </footer>
</body>
</html>
